body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #2196F3;
  color: #fff;
  padding: 20px;
  text-align: left;
}

main {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.emoji-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  align-items: center;
}

.emoji-container .emoji {
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  line-height: 1;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.emoji-container .emoji:hover {
  background-color: #f1f1f1;
}

.ads-container {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  margin-top: 20px;
}

.ads-container img {
  max-width: 100%;
  height: auto;
}

.category-wise {
  margin-top: 20px;
}

.category-container {
  margin-top: 10px;
}

.category-section {
  margin-bottom: 20px;
}

.category-heading {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

/* Fix for headings in category-wise section to display on a new line */
.category-heading {
  display: block;
}
